body{
    margin: 0;
    padding: 0;
    font-size: 20px;
    /* color: white; */ height: 1500px;
}

#parent{
    display: flex;
    background-color: cornflowerblue;
     justify-content:space-around; 
    align-items: center;
    width: 100%;
   
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 10px;
    box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.377);
}

 .div{
    height: 30px;
    padding: 5px 11%;
} 

.div:hover{
    background-color: rgb(36, 90, 192);
    cursor: pointer;
}

#div2{
    position: relative;
}


#item{
    display: none;
    position: absolute;
    top: 40px;
    right: 0px;
    background-color: rgba(157, 192, 192, 0.212);
    box-sizing: border-box;
}

p{
    width: 215px;
    margin: 0;
    /* padding: 10px 30px; */
    text-align: center;
    height: 30px;
    padding-top: 5px;
    animation-name: drop;
    animation-duration: .5s;
}

@keyframes drop{
    from {
        height: 0px;
    }
    to{
        height: 30px;
    }
}

p:hover{
    background-color: rgba(171, 186, 226, 0.267);
}

@media screen and (max-width :900px){
    .div{
        padding: 5px 8%;
        overflow: hidden
    }
    #div2{
        overflow: visible;
    }

    p{
        width: 115px;
    }
    
}
